{% extends 'base.html' %}

{% block css_files %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block content %}
<span id="save-indicator">已自动保存...</span>
<div id="controls">
	<form class="pure-form pure-form-aligned">
		<fieldset>
			<legend>Meta Data</legend>

			<div class="pure-control-group">
				<label for="tags">Tags</label>
				<input id="tags" type="text" name="tags">
			</div>

			<div class="pure-control-group">
				<label for="access">Access</label>
				<select id="access" name="access">
					<option value="0">Public</option>
					<option value="1">Private</option>
				</select>
			</div>

			<input type="hidden" name="post_id">
			<legend></legend>

			<div class="pure-controls">
				<button id="publish-btn" class="pure-button pure-button-primary">Publish</button>
			</div>
		</fieldset>
	</form>
</div>
<div id="editor"></div>
<div id="title-indicator"></div>

<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/js/blog.js"></script>
<script>
	init_page();
</script>
{% endblock %}
