{% extends 'base.html' %}

{% block css_files %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block content %}
<span id="save-indicator">已自动保存...</span>
<div id="controls">
	<form class="pure-form pure-form-aligned">
		<fieldset>
			<legend>Meta Data</legend>

			<div class="pure-control-group">
				<label for="tags">Tags</label>
				<input id="tags" type="text" name="tags"{% if post %} value="{{ post.tag_str }}"{% endif %}>
			</div>

			<div class="pure-control-group">
				<label for="access">Access</label>
				<select id="access" name="access"{% if post %} value="{{ post.access }}"{% endif %}>
					<option value="0">Public</option>
					<option value="1">Private</option>
				</select>
			</div>

			<input type="hidden" name="post_id"{% if post %} value="{{ post.id }}"{% endif %}>
			<input type="hidden" name="content"{% if post %} value="{{ post.content }}"{% endif %}>
			<legend></legend>
		</fieldset>
	</form>

	{% if not post %}
		<button id="publish-btn" class="pure-button pure-button-primary">Publish</button>
	{% else %}
		<button id="update-btn" class="pure-button pure-button-primary">Update</button>
	{% endif %}
</div>
<div id="editor"></div>
<div id="title-indicator"></div>

<script src="/static/plugins/ace/ace.js"></script>
<script src="/static/js/blog.js"></script>
<script>
	init_page($('input[name=content]').val());
</script>
{% endblock %}
