{% extends 'base.html' %}

{% block css_files %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Maven+Pro">
<link rel="stylesheet" type="text/css" href="/static/css/frontend.css">
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
<link rel="stylesheet" type="text/css" href="/static/plugins/google-code-prettify/prettify.css">
{% endblock %}

{% block content %}
<div class="pure-g-r" id="layout">
	<div class="sidebar pure-u">
		{% include 'frontend/sidebar.html' %}
	</div>

    <div class="pure-u-1">
        <div class="content">
            <div class="posts">
				<section class="post">
					<header class="post-header">
						<h1 class="post-title">{{ post.title }}</h1>
						<p class="post-meta">
							By {{ post.author.username }}
						</p>
					</header>

					<div class="post-description">
						{{ post.content_body|markdown }}
					</div>
				</section>
            </div>

			<div id="comment-box">
				<form class="pure-form pure-form-stacked">
					<input type="hidden" name="post_id" value="{{ post.id }}">
					<textarea name="content" placeholder="Leave a comment..."></textarea>
					{% if not current_user.is_authenticated() %}
					<input type="text" name="author_name" class="pure-input-1-4" placeholder="Your name">
					<input type="text" name="author_email" class="pure-input-1-4" placeholder="Your email">
					<input type="text" name="author_url" class="pure-input-1-4" placeholder="Your website">
					{% endif %}
					<button class="pure-button pure-button-primary">Submit</button>
				</form>
			</div>

			<div class="comments">
				{% for comment in post.comments %}
				<section class="comment">
					<header class="comment-header">
						<h3 class="comment-author">{{ comment.author_name }}</h3>
						<p class="comment-meta">
						</p>
					</header>

					<div class="comment-content">
						{{ comment.content }}
					</div>
				</section>
				{% endfor %}
			</div>

            <footer class="footer">
				{% include 'frontend/footer.html' %}
            </footer>
        </div>
    </div>
</div>

<script src="/static/js/blog.js"></script>
<script src="/static/plugins/google-code-prettify/prettify.js"></script>
<script>
$('a[href="#"]').click(function(e) { e.preventDefault(); });
$('code').parent('pre').attr('class', 'prettyprint linenums');
prettyPrint();
</script>
{% endblock %}
