{% extends 'base.html' %}

{% block css_files %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Maven+Pro">
<link rel="stylesheet" type="text/css" href="/static/css/frontend.css">
<link rel="stylesheet" type="text/css" href="/static/plugins/google-code-prettify/prettify.css">
{% endblock %}

{% block content %}
<div class="pure-g-r" id="layout">
	<div class="sidebar pure-u">
		{% include 'frontend/sidebar.html' %}
	</div>

    <div class="pure-u-1">
        <div class="content">
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
				{% for post in posts %}
				<section class="post">
					<header class="post-header">
					<h1 class="post-title"><a href="{{ url_for('blog.entry', post_id=post.id) }}">{{ post.title }}</a></h1>
						<p class="post-meta">
							By {{ post.author.username }}
						</p>
					</header>

					<div class="post-description">
						{{ post.content_body|markdown|preview }}
					</div>
				</section>
				{% endfor %}

            <footer class="footer">
				{% include 'frontend/footer.html' %}
            </footer>
        </div>
    </div>
</div>

<script src="/static/plugins/google-code-prettify/prettify.js"></script>
<script>
$('a[href="#"]').click(function(e) { e.preventDefault(); });
$('code').parent('pre').attr('class', 'prettyprint linenums');
prettyPrint();
</script>
{% endblock %}
