<div class="sidebar pure-u">
	<header class="header">
		<hgroup>
			<h1 class="brand-title">Song 4</h1>
			<h2 class="brand-tagline">Creating a blog layout using Pure</h2>
		</hgroup>

		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a class="pure-button" href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a class="pure-button" href="#">Algorithm</a>
				</li>
				<li class="nav-item">
					<a class="pure-button" href="#">About</a>
				</li>
			</ul>
		</nav>

		<a id="signin-btn" class="pure-button" href="{{ url_for('account.signin') }}">Sign in</a>
	</header>
</div>
