<!DOCTYPE html>
<html>
<head>
	{%- block head_meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Song For Us">
	{% endblock -%}

	{% block css_files %}
	<link rel="stylesheet" href="/static/css/pure-min.css">
	<link rel="stylesheet" href="/static/css/base.css">
	{% endblock -%}

	{% block css_snippets %}
	{% endblock -%}

	{% block js_files %}
	<script src="/static/js/lib/jquery-1.10.2.min.js"></script>
	<script src="/static/js/lib/knockout-2.3.0.js"></script>
	<script src="/static/plugins/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	{% endblock -%}
</head>

<body>
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
</body>
</html>
